In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
energydata = pd.read_excel("En_In.xls")
energydata = energydata.drop(range(234, 282))
energydata = energydata.drop(range(17))
energydata = energydata.drop(columns=["Unnamed: 0", "Unnamed: 1"])
energydata.columns = ["Country", "Energy Supply", "Energy Supply per Capita", "% Renewable"]
energydata = energydata.replace(["..."], np.NaN)
energydata

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321.0,10.0,78.669280
18,Albania,102.0,35.0,100.000000
19,Algeria,1959.0,51.0,0.551010
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9.0,121.0,88.695650
...,...,...,...,...
229,Ukraine18,4844.0,107.0,8.067312
230,United Arab Emirates,2710.0,300.0,0.000000
231,United Kingdom of Great Britain and Northern I...,7920.0,124.0,10.600470
232,United Republic of Tanzania,994.0,20.0,31.072840
233,United States of America20,90838.0,286.0,11.570980

In [3]:
energydata["Energy Supply"] = energydata["Energy Supply"] * 1_000_000
energydata

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,3.210000e+08,10.0,78.669280
18,Albania,1.020000e+08,35.0,100.000000
19,Algeria,1.959000e+09,51.0,0.551010
20,American Samoa,NaN,NaN,0.641026
21,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
229,Ukraine18,4.844000e+09,107.0,8.067312
230,United Arab Emirates,2.710000e+09,300.0,0.000000
231,United Kingdom of Great Britain and Northern I...,7.920000e+09,124.0,10.600470
232,United Republic of Tanzania,9.940000e+08,20.0,31.072840
233,United States of America20,9.083800e+10,286.0,11.570980

In [4]:
energydata["Country"] = energydata["Country"].replace(["Republic of Korea"], "South Korea")
energydata["Country"] = energydata["Country"].replace(["United States of America"], "United states")
energydata["Country"] = energydata["Country"].replace(["United Kingdom of Great Britain and Northern Ireland"], "United kingdom")
energydata["Country"] = energydata["Country"].replace(["China, Hong Kong Special Administrative Region"], "Hong Kong")

def correct_country_name(s):
    res = []
    for e in s:
        if e.isdigit():
            continue
        elif e == "(":
            break
        else:
            res.append(e)
    return "".join(res).rstrip()

energydata["Country"] = energydata["Country"].apply(lambda x: correct_country_name(x))
energydata.loc[energydata["Country"].isin(["American Samoa", "South Korea", "Bolivia"])]

            Country  Energy Supply  Energy Supply per Capita  % Renewable
20   American Samoa            NaN                       NaN     0.641026
41          Bolivia   3.360000e+08                      32.0    31.477120
181     South Korea   1.100700e+10                     221.0     2.279353

In [5]:
GDP = pd.read_csv("gpd.csv")
headers = list(GDP.loc[3])
headers[0] = "Country"
for i in range(4, len(headers)):
    headers[i] = int(headers[i])
GDP.columns = headers
GDP = GDP.drop([0, 1, 2, 3])
GDP["Country"] = GDP["Country"].replace(["Korea, Rep."], "South Korea")
GDP["Country"] = GDP["Country"].replace(["Iran, Islamic Rep."], "Iran")
GDP["Country"] = GDP["Country"].replace(["Hong Kong SAR, China"], "Hong Kong")

GDP

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
4,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
5,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
6,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
7,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
8,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
264,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072507e+11,...,3.402852e+11,3.585261e+11,3.699668e+11,3.642764e+11,3.753494e+11,3.874074e+11,3.960071e+11,4.047682e+11,4.110369e+11,4.163117e+11
265,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
266,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
267,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [6]:
GDP.head(1)

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
4,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN

In [7]:
GDP[GDP["Country"] == "South Korea"]

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
127,South Korea,KOR,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,2.757696e+10,2.893825e+10,2.964966e+10,3.247578e+10,3.493136e+10,3.674434e+10,...,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12

In [8]:
Scimagojr = pd.read_excel("scimagojr.xlsx")
Dataset = pd.merge(Scimagojr, energydata, how="left", on="Country")
Dataset = pd.merge(Dataset, GDP, how="left", on="Country")

Dataset = Dataset.set_index("Country")
Dataset = Dataset.astype({"Rank": int})
Dataset = Dataset.drop(columns=[x for x in range(1960, 2006)])
Dataset = Dataset.drop(columns=["Country Code", "Indicator Code", "Indicator Name"])
Dataset.columns

Index([                    'Rank',                'Documents',
              'Citable documents',                'Citations',
                 'Self-citations',   'Citations per document',
                        'H index',            'Energy Supply',
       'Energy Supply per Capita',              '% Renewable',
                             2006,                       2007,
                             2008,                       2009,
                             2010,                       2011,
                             2012,                       2013,
                             2014,                       2015],
      dtype='object')

In [9]:
Result = Dataset[:15]
Result

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [10]:
Result.shape

(15, 20)

In [11]:
def task_eight():
    years = [x for x in range(2006, 2016)]
    return Result[years].mean(axis=1, skipna=True).sort_values(ascending=False)[:15]

In [12]:
 task_eight()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [13]:
def task_nine():
    return "France", Result.loc["France"][2015] - Result.loc["France"][2006]

In [14]:
task_nine()

('France', 153345695364.24023)

In [15]:
def task_ten():
    res = list(Result.sort_values("% Renewable", ascending=False).index.values)[0]
    return res, Result.loc[res]["% Renewable"]

In [16]:
task_ten()

('Brazil', 69.64803)

In [17]:
def task_eleven():
    Result.loc["Population"] = Result["Energy Supply"] / Result["Energy Supply per Capita"]
    res = list(Result["Population"].sort_values(ascending=False).index.values)[4]
    return res, Result.loc[res]["Population"]

In [18]:
task_eleven()

c:\users\admin\appdata\local\programs\python\python37-32\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

KeyError: 'Population'

In [ ]:
def task_twelve():
    Result["CitPerCap"] = Result["Citable documents"] / Result["Population"]
    return Result["Energy Supply per Capita"].corr(Result['CitPerCap'], method="pearson")

In [ ]:
task_twelve()

In [ ]:
def task_thirteen():
    temp = Result["% Renewable"].median(axis=0)
    Result["renew"] = Result.apply(lambda x: 1 if x["% Renewable"] > temp else 0, axis=1)
    Result.sort_values(by='Rank')
    return Result["renew"]

In [ ]:
task_thirteen()

In [ ]:
def task_forteen():
    ContinentDict = {'China': 'Asia',
                     'United States': 'North America',
                     'Japan': 'Asia',
                     'United Kingdom': 'Europe',
                     'Russian Federation': 'Europe',
                     'Canada': 'North America',
                     'Germany': 'Europe',
                     'India': 'Asia',
                     'France': 'Europe',
                     'South Korea': 'Asia',
                     'Italy': 'Europe',
                     'Spain': 'Europe',
                     'Iran': 'Asia',
                     'Australia': 'Australia',
                     'Brazil': 'South America'}
    temp = pd.DataFrame(columns=['size', 'sum', 'mean', 'std'])
    Result['Population'] = Result['Energy Supply'] / Result['Energy Supply per Capita']
    for elem, val in Result.groupby(ContinentDict):
        temp.loc[elem] = [len(val), val['Population'].sum(), val['Population'].mean(), val['Population'].std()]
    temp = temp.astype({"size": int})
    return temp

In [ ]:
task_forteen()

In [ ]:
def task15():
    ContinentDict  = {'China':['Asia', "yellow"],
                  'United States':['North America', "red"],
                  'Japan':['Asia', "yellow"], 
                  'United Kingdom':['Europe', "blue"],
                  'Russian Federation':['Europe', "blue"],
                  'Canada':['North America', "red"],
                  'Germany':['Europe', "blue"],
                  'India':['Asia', "yellow"],
                  'France':['Europe', "blue"],
                  'South Korea':['Asia', "yellow"], 
                  'Italy':['Europe', "blue"],
                  'Spain':['Europe', "blue"],
                  'Iran':['Asia', "yellow"],
                  'Australia':['Australia', "green"],
                  'Brazil':['South America', "cyan"]}
    
    x, y, z = df["Rank"], df["% Renewable"], list(df.index.values)
    for i, text in enumerate(list(df.index)):
        plt.annotate(text, (x[i] - 0.3, y[i]))
    for elem in z:
        plt.scatter(x=x.loc[elem], y=y.loc[elem], s=df[2015][elem]/10_000_000_000*8, alpha = 0.4, c = ContinentDict[elem][1])
    plt.xticks([i for i in range(0, len(list(df.index))+1)])
    plt.gcf().set_size_inches((15, 5))  
    plt.show()